---
http_interactions:
- request:
    method: get
    uri: https://api.newrelic.com/api/v1/accounts/214658/applications/1395343/data.json?metrics[]=Controller/application/broadcast&field=average_response_time&begin=2012-11-15T02:05:45-05:00&end=2012-11-15T02:20:45-05:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-api-key:
      - 4b7dd24681d52b565c3c5001d31ff0167e840f50dcb4fa6
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"ed02f1620302619f60a87d441360d619"'
    body:
      encoding: US-ASCII
      string: ! '[{"name":"Controller/application/broadcast","begin":"2012-11-15T07:05:00Z","end":"2012-11-15T07:06:00Z","app":"My
        Application","agent_id":1395343,"average_response_time":0.0},{"name":"Controller/application/broadcast","begin":"2012-11-15T07:06:00Z","end":"2012-11-15T07:07:00Z","app":"My
        Application","agent_id":1395343,"average_response_time":0.0},{"name":"Controller/application/broadcast","begin":"2012-11-15T07:07:00Z","end":"2012-11-15T07:08:00Z","app":"My
        Application","agent_id":1395343,"average_response_time":0.0},{"name":"Controller/application/broadcast","begin":"2012-11-15T07:08:00Z","end":"2012-11-15T07:09:00Z","app":"My
        Applicatio[...]
